{% extends "base.html" %}

{% block content %}
<h1>Signup</h1>
<form method="POST">
    
  <tabel>
      <tr>
          <td><label><span class ="form_label">Username</span></label></td>
          <td>
            <input  name="username" type="text" value='{{username}}'/> &nbsp;<span style="color:red;">{{username_error}}</span>&nbsp;
           </td>
      </tr> 
      <br></br>
      <tr>
          <td><label><span class ="form_label">Password</span></label></td>
          <td>   
            <input name="password" type="password"  value='{{password}}'/>&nbsp;<span style="color:red;">{{password_error}}</span>&nbsp;
          </td>
      </tr> 
      <br></br>
      <tr>
          <td><label><span class ="form_label">Verify Password</span></label></td>
          <td>  
            <input type="password" name="password_validate" value='{{password_validate}}'/>&nbsp;<span style="color:red;">{{password_validate_error}}</span>&nbsp;
          </td> 
      </tr> 
      <br></br>   
      <tr>
          <td><label><span class ="form_label">Email (Optional)</span></label></td>
          <td>  
            <input name="email" type="text"  value='{{email}}'/>&nbsp;<span style="color:red;">{{email_error}}</span>&nbsp;
          </td>
      </tr>
   </tabel>       
   <br></br>
  <input class ="submit" type="submit" value="Submit"/>
</form>

{% endblock %}